<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="icon-bar" *ngIf="(designation =='TL' ||designation =='PM' ) ">
  <a class="active" (click)="goToAdminDashBoard()"><i class="fa fa-home"></i> Dashboard</a>
  <a (click)="goToEditProfile()"><i class="glyphicon glyphicon-edit"></i> edit profile</a>
  <!--<a (click)="applyLeave()"><i class="glyphicon glyphicon-envelope"></i> apply leave</a>-->
  <a  (click)="searchEmployee()"><i class="glyphicon glyphicon-search"></i> search employee</a>
  <a (click)="logout()" ><i class="glyphicon glyphicon-log-out"></i> logout</a>
  <strong style="color: white;float: right;margin-right: 10px ">{{name}}</strong><i style="color: white;float: right;margin-right: 10px"  class="glyphicon glyphicon-user"></i>
</div>

<div class="icon-bar" *ngIf="designation ==='HR'">
  <a class="active" (click)="goToAdminDashBoard()"><i class="fa fa-home"></i> Dashboard</a>
  <a (click)="goToEditProfile()"><i class="glyphicon glyphicon-edit"></i> edit profile</a>
  <a  (click)="searchEmployee()"><i class="glyphicon glyphicon-search"></i> search employee</a>
  <a (click)="addEmployee()"><i class="glyphicon glyphicon-plus-sign"></i> add employee</a>
  <a (click)="logout()" ><i class="glyphicon glyphicon-log-out"></i> logout</a>
  <strong style="color: white;float: right;margin-right: 10px ">{{name}}</strong><i style="color: white;float: right;margin-right: 10px"  class="glyphicon glyphicon-user"></i>
</div>

<div>
</div>

<div class="Routing">
  <router-outlet></router-outlet>
</div>

</body>
</html>
