<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: whitesmoke">


<div class="icon-bar" *ngIf="designation ==='employee'">
  <a class="active" (click)="goToEmpDashBoard()"><i class="fa fa-home"></i> Dashboard</a>
  <a (click)="editProfile()"><i class="glyphicon glyphicon-edit"></i> edit profile</a>
  <a (click)="applyLeave()"><i class="glyphicon glyphicon-envelope"></i> apply leave</a>
  <a (click)="logout()" ><i class="glyphicon glyphicon-log-out"></i> logout</a>
  <strong style="color: white;float: right;margin-right: 10px ">{{name}}</strong><i style="color: white;float: right;margin-right: 10px"  class="glyphicon glyphicon-user"></i>
</div>

<div class="Routing">
  <router-outlet></router-outlet>
</div>

</body>
</html>
