<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>

</head>

<body style="background-color: whitesmoke">

<div class="container center_div" >
  <h3 style="margin-left: 37%;color: black;padding-top: 10px"> Enter your details </h3>

  <form [formGroup]= "forgotPwdForm" novalidate (ngSubmit)="forgotPassword()">

    <input type="text"  class="form-control" #userName  formControlName="userName" placeholder="username" required autofocus>
    <div class="alert alert-danger" *ngIf="forgotPwdForm.controls['userName'].hasError('required')">
      please enter user name
    </div>
    <input type="text"  class="form-control" #emp_id formControlName="emp_id" placeholder="employee ID" required autofocus>
    <div class="alert alert-danger" *ngIf="emp_id.value.length!==5">
      employee id must contain 5 alpha numeric
    </div>
    <input type="email"  class="form-control" #email formControlName="email" placeholder="email" required autofocus>
    <div class="alert alert-danger" *ngIf="!(email.value.match('@'&&'.com'))">
      please enter valid email (ex: abc@gmail.com)
    </div>
    <input type="number"  class="form-control" maxlength="10" minlength="10" #mobile formControlName="mobile" placeholder="mobile number" required autofocus>
    <div class="alert alert-danger" *ngIf="!(mobile.value.length===10) || mobile.value<=0">
      please enter valid mobile number
    </div>

    <button  type="submit" [disabled]="!forgotPwdForm.valid" class="btn btn-lg btn-primary btn-block">Submit</button>

    <!--<p *ngIf="error" style="color: red;font-family:KacstOffice;font-style: italic">invalid user name or password !!!</p>-->

    <p *ngIf="error" style="color: red;font-family:KacstOffice;font-style: italic">invalid user name or password !!!</p>

  </form>
  <!--<p *ngIf="postData && postData.flag">{{postData.flag}}&#45;&#45;{{postData.emp_id}}&#45;&#45;{{postData.fullName}}&#45;&#45;{{postData.designation}}</p>-->
  <!--<p *ngIf="postData && postData.flag" >-->
  <!--&lt;!&ndash;<button type="submit" routerLink="/admin" routerLinkActive="active">admin</button>&ndash;&gt;-->
  <!--</p>-->
</div>





</body>
</html>


