<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="margin-top: 20px;text-align: center;color: rgba(221,50,147,0.53) "> <b>Change your password</b></h3>
<div class="container center_div" style="margin-top: 30px">



  <form [formGroup]= "newPassword" novalidate (ngSubmit)="resetPassword()">

    <input type="password"  #passwd class="form-control" formControlName="passWd" placeholder=" enter new password" required autofocus>

    <input type="password"  #cPassWd class="form-control" formControlName="cPassWd" placeholder="confirm password" required autofocus>


    <button  [disabled]="passwd.value!==cPassWd.value || passwd.value.length<5" type="submit" class="btn btn-lg btn-primary btn-block">change password</button>

    <!--<p *ngIf="error" style="color: red;font-family:KacstOffice;font-style: italic">invalid user name or password !!!</p>-->


  </form>
  <div class="alert alert-success" *ngIf=" responseData === true">
    <strong>Success!</strong> your password has been changed successfully...
  </div>

</div>


</body>
</html>
