<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <h2 style="padding-top: 3px">
    <b> <label style="color: rgba(221,50,147,0.86);text-shadow: 2px 2px 4px #000000;">ELM Portal</label></b>
  </h2>
</div>

<div class="icon-bar" *ngIf="isLoggedIn===false">
  <a class="active" routerLink="home" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
  <a href="#"><i class="fa fa-envelope"></i> about</a>
  <a href="#"><i class="fa fa-globe"></i> contact</a>
  <a *ngIf="isLoggedIn===false" routerLink="home/login" routerLinkActive="active"><i class="glyphicon glyphicon-log-in"></i> login</a>
  <!--{{isLogged}}-->
</div>

<div class="icon-bar" *ngIf="isLoggedIn===true && loggedUserDesignation ==='employee'">
  <a class="active" (click)="goToEmpDashBoard()"><i class="fa fa-home"></i> Dashboard</a>
  <a (click)="goToEditProfile()"><i class="glyphicon glyphicon-edit"></i> edit profile</a>
  <a (click)="applyLeave()"><i class="glyphicon glyphicon-envelope"></i> apply leave</a>
  <a *ngIf="isLoggedIn===true" (click)="onLogOutClick()" ><i class="glyphicon glyphicon-log-out"></i> logout</a>
  <strong style="color: white;float: right;margin-right: 10px ">{{loggedUser}}</strong><i *ngIf="loggedUser" style="color: white;float: right;margin-right: 10px"  class="glyphicon glyphicon-user"></i>
</div>

<div class="icon-bar" *ngIf="isLoggedIn===true && (loggedUserDesignation =='TL' ||loggedUserDesignation =='PM' ) ">
  <a class="active" (click)="goToAdminDashBoard()"><i class="fa fa-home"></i> Dashboard</a>
  <a (click)="goToEditProfile()"><i class="glyphicon glyphicon-edit"></i> edit profile</a>
  <a (click)="applyLeave()"><i class="glyphicon glyphicon-envelope"></i> apply leave</a>
  <a  (click)="searchEmployee()"><i class="glyphicon glyphicon-search"></i> search employee</a>
  <a *ngIf="isLoggedIn===true" (click)="onLogOutClick()" ><i class="glyphicon glyphicon-log-out"></i> logout</a>
  <strong style="color: white;float: right;margin-right: 10px ">{{loggedUser}}</strong><i *ngIf="loggedUser" style="color: white;float: right;margin-right: 10px"  class="glyphicon glyphicon-user"></i>
</div>

<div class="icon-bar" *ngIf="isLoggedIn===true && loggedUserDesignation ==='HR'">
  <a class="active" (click)="goToAdminDashBoard()"><i class="fa fa-home"></i> Dashboard</a>
  <a (click)="goToEditProfile()"><i class="glyphicon glyphicon-edit"></i> edit profile</a>
  <a (click)="applyLeave()"><i class="glyphicon glyphicon-envelope"></i> apply leave</a>
  <a  (click)="searchEmployee()"><i class="glyphicon glyphicon-search"></i> search employee</a>
  <a (click)="addEmployee()"><i class="glyphicon glyphicon-plus-sign"></i> add employee</a>
  <a *ngIf="isLoggedIn===true" (click)="onLogOutClick()" ><i class="glyphicon glyphicon-log-out"></i> logout</a>
  <strong style="color: white;float: right;margin-right: 10px ">{{loggedUser}}</strong><i *ngIf="loggedUser" style="color: white;float: right;margin-right: 10px"  class="glyphicon glyphicon-user"></i>
</div>

<div class="Routing">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <h3>Alacriti&copy; 2017</h3>
</div>


<!--
<app-login></app-login>

<app-admin></app-admin>
-->
